%h1 Hired Heroes
%h2 Your Service, your skills, your job

=form_tag '/jobs', :method => :get do
  =label_tag "My military occupation code"
  =select_tag "moc_code", options_from_collection_for_select(@moc_codes, "id", "moc_code_description")
  =label_tag "My job zip code"
  =text_field_tag "zip_code"
  =submit_tag "Find my job"
